language: python

sudo: false

matrix:
  fast_finish: true
  include:
  - python: 2.7
    env: TEST_TARGET=default
  - python: 3.6
    env: TEST_TARGET=default
  - python: 2.7
    env: TEST_TARGET=coding_standards
  allow_failures:
  - python: 3.6
    env: TEST_TARGET=default
  - python: 2.7
    env: TEST_TARGET=coding_standards


before_install:
  - wget http://bit.ly/miniconda -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda update conda --yes
  - conda config --set show_channel_urls true
  - conda config --add channels odm2 --force
  - conda create --yes -n TEST python=$TRAVIS_PYTHON_VERSION --file requirements.txt --file requirements-dev.txt
  - source activate TEST
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      conda install --yes mock ;
    fi
  # Coding standards.
  - conda install --channel conda-forge --yes flake8-print flake8-quotes flake8-import-order flake8-builtins flake8-comprehensions flake8-mutable

# FIXME: Test source distribution.
# install:
  # - python setup.py sdist && version=$(python setup.py --version) && pushd dist  && pip install yodatools-${version}.tar.gz && popd

script:
  - if [[ $TEST_TARGET == 'default' ]]; then
      py.test -s -rxs -v ;
    fi

  - if [[ $TEST_TARGET == 'coding_standards' ]]; then
      flake8 --max-line-length=105 yodatools ;
      flake8 --max-line-length=105 tests ;
    fi

# FIXME: commented out from the previous CI config.
#  - py.test yodatool/tests
#  - py.test dataloader/tests
